@import 'variables';

.comments {
  font-family: $font-family-base;
  margin: 0 auto;
  max-width: 48em;
  transition: opacity $transition;
}

.comments--hide {
  opacity: 0;
}

.comments__point {
  background-color: $brand-color;
  background-size: cover;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 1em;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  transition: $transition;
  width: 1em;

  &:hover,
  &:focus {
    background-color: $brand-color--dark;
    outline: none;
    z-index: 6;
  }
}

.comments__point--active {
  background-color: $brand-color--dark;
  height: 1.2em;
  width: 1.2em;
}

.comments__point--location-indicator {
  background-color: $brand-color--highlight;
}

.comment__point--influencer {
  border: .2em solid $brand-color;
  height: 3em;
  width: 3em;
  z-index: 5;

  &:hover,
  &:focus,
  &.comments__point--active {
    border-color: $brand-color--dark;
  }

  .tooltip {
    margin-left: -.4em;
    margin-top: 3em;

    &::before,
    &::after {
      left: .7em;
      top: 2.1em;
    }
  }
}

.comments__row {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
}

.comments__avatar {
  border-radius: 50%;
  height: 5em;
  margin-right: 1em;
  width: 5em;
}

.comments__commenter-name {
  float: left;
  margin-bottom: 0;
  margin-right: 1em;
  margin-top: 0;
}

.comments__commenter-seguidores {
  float: left;
  line-height: 1.9em;
}

.comments__commenter-function {
  clear: both;
  float: none;
}

.comments__comment-data {
  color: $brand-dark--light;
  font-size: .8em;
  text-transform: uppercase;
}

.comments--animation {
  background-color: $brand-light-grey;
  margin-bottom: 2em;
  margin-top: 4em;
  padding: 1em 2em;
}

.comments--all {
  .comments__comment {
    border-bottom: 1px solid $brand-dark--light;
    margin-bottom: 2em;
    padding-bottom: 1em;
  }
}
