@import 'variables';

.grid {
  height: 37.5em;
  position: relative;
  width: 100%;
  @media (max-width: $first-breaking-point) {
    height: 20em;
  }
}

.grid__title {
  color: $brand-dark--light;
  font-family: $font-family-headings;
  font-size: 1em;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}

.grid__title--top {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.grid__title--right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: $first-breaking-point) {
    transform: translateY(15%);
  }
}

.grid__title--bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid__title--left {
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: $first-breaking-point) {
    transform: translateY(15%);
  }
}

.grid__line {
  background-color: $brand-dark;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.grid__line--horizontal {
  height: $grid-stroke-size;
  width: calc(100% - 16em);
  @media (max-width: $first-breaking-point) {
    width: 100%;
  }
}

.grid__line--vertical {
  height: calc(100% - 4em);
  width: $grid-stroke-size;
}

.grid__comments {
  bottom: 2em;
  left: 8em;
  position: absolute;
  right: 8em;
  top: 2em;
  @media (max-width: $first-breaking-point) {
    left: 1em;
    right: 1em;
  }
}
