@import 'variables';

.tooltip--toggle {
  &:hover,
  &:focus {
    .tooltip {
      display: inline-block;
    }
  }
}

.tooltip {
  background-color: $brand-white;
  border: 1px solid $brand-dark--light;
  color: $brand-dark;
  display: none;
  font-family: $font-family-base;
  line-height: 1.5;
  margin-left: -1.5em;
  margin-top: 1.5em;
  padding: .15em .5em;
  pointer-events: none;
  text-align: left;
  white-space: nowrap;

  &::before,
  &::after {
    border-bottom: 1em solid $brand-dark--light;
    border-left: .75em solid transparent;
    border-right: .75em solid transparent;
    content: '';
    height: 0;
    left: -.24em;
    position: absolute;
    top: .6em;
    width: 0;
  }

  &::after {
    border-bottom: 1em solid $brand-white;
    transform: translateY(2px);
  }
}

.tooltip__heading {
  color: $brand-dark--light;
  font-size: .9em;
}
