$brand-color: #44a5db;
$brand-color--dark: darken($brand-color, 10%);
$brand-dark: #444848;
$brand-dark--light: #898d90;
$brand-white: #fff;
$brand-color--highlight: #f6b217;

$font-family-base: 'Roboto Slab', serif;
$font-family-headings: 'Lato', sans-serif;

$grid-stroke-size: .075em;

$transition: .25s ease;
